sudo apt install pip
sudo apt install python3-pip
python -m pip install --upgrade pip
pip install Django
sudo apt-get install python-django
pip install djangorestframework
pip install markdown       # Markdown support for the browsable API.
pip install django-filter  # Filtering support

